.spinner {
  border-width: 2px;
  border-radius: 9999px;
  border-style: solid;
  border-top-color: transparent;
}

.card-brand-logo {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.card-brand-logo--visible {
  opacity: 1;
}


